<div class="w-full">
  <div class="min-w-full flex flex-col gap-4 items-center justify-center mt-10">
      <div class="flex justify-around items-start gap-10 h-[170px]  rounded-md p-8 bg-slate-200">
          <% if current_user  %>
          <h1 class="font-bold text-4xl">Wecome To <%= current_user.name %>!<h1>
            <% else  %>
          <h1 class="font-bold text-4xl">Wecome To Our Recipe App!<h1>
          <% end %>
          <h2>To Create New Account  <%= link_to "Click Here", new_user_registration_path,
          class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %><h2>
          <h2>To Login Your Account <%= link_to "Click Here",
          new_user_session_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %><h2>
      </div>
  </div>
</div>
