* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registration_page {
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  background-color: azure;
}

.new_user {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}